
@import "compass/css3"
@import "compass/utilities"

html
	height: 100%

body
	background-image: url('/images/bichos.jpg')
	background-position: bottom center
	background-repeat: no-repeat
	background-color: #FFF
	font-family: "Roboto"
	margin: 0
	padding: 0
	height: 100%

h2
	font-size: 32px
	font-weight: 100
	color: #1c2b36
	margin-top: 0

.logo-adotepet
	margin: 40px 0

.form-bg
	margin-top: 30px
	@include border-radius(8px)
	background: #8BC34A
	box-sizing: border-box
	padding: 30px
	label
		color: white
		font-size: 18px
		font-weight: 100
	input
		border: none
	button
		border: none
		background-color: #689F38
		color: white
		font-size: 18px
	.radio-inline span
		padding: 5px
		box-sizing: border-box


@media only screen and (max-width: 767px)
	body
		background: #FFF
	h2
		font-size: 24px
	.form-bg
		padding: 20px
		.radio-inline
			font-size: 14px


