---
title: AdotePet - Bem-vindo
---


<div>

	<div class="message">
		<%= image_tag 'adotepet-logo.png', :width => '240', :class => 'logo-adotepet' %>
		<h2 class="text-center">Estamos reformulando nosso site para ajudar nossos parceiros. Fique antenado!</h2>
	</div>

	<div class="overlay">
		&nbsp;
	</div>

	<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
		<source src="images/dog.webm" type="video/webm">
		<source src="images/dog.mp4" type="video/mp4">
		Video not supported
	</video>

</div>
