---
title: Bem-vindo
---

<div class="row">
	<div class="col-md-8 col-md-offset-2" id="login-box">

		<h2 class="text-center">Quer doar ou adotar um bichinho de estimação? Nós ajudamos!</h2>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-bg">
					<form role="form" action="sistema/index.html">
						<div class="form-group">
							<label for="seuemail">Seu Email</label>
							<input type="email" class="form-control input-lg" id="seuemail" placeholder="seu email">
						</div>

						<div class="form-group">
							<label class="radio-inline">
							  <span><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Quero adotar</span>
							</label>
							<label class="radio-inline">
							  <span><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Quero doar</span>
							</label>
						</div>

						<button type="submit" class="btn btn-default btn-lg btn-block">Receber informações</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
