---
title: Bem-vindo
---

<div class="row">
	<div class="col-md-8 col-md-offset-2" id="login-box">

		<h2 class="text-center">Quer doar ou adotar um bichinho de estimação? Nós ajudamos!</h2>

		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="quero-doar botao">
					<a href="https://adotepet.typeform.com/to/zAB3UV">
						<%= image_tag 'icon_querodoar.png', :width => '220' %>
						<br>
						Quero doar
					</a>
				</div>
			</div>

			<div class="col-md-5">
				<div class="quero-adotar botao">
					<a href="https://adotepet.typeform.com/to/hQbsMi">
						<%= image_tag 'icon_queroadotar.png', :width => '220' %>
						<br>
						Quero adotar
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
