---
title: Sistema de Gestão de Serviços
---

<div class="container-fluid">
	<h1>Controle de sinal das equipes de campo</h1>

	<div class="table-bg">
		<div class="table-controls">
			<form class="form-inline" role="form">
				<div class="form-group">
	  			<label for="coordenador-v">Coordenador</label>
	  			<select class="form-control" id="coordenador-v">
					  <option>Coordenador 1</option>
					  <option>Coordenador 2</option>
					  <option>Coordenador 3</option>
					  <option>Coordenador 4</option>
					  <option>Coordenador 5</option>
					</select>
				</div>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="form-group">
					<label>Atualização (min)</label>
					<input type="text" class="slider" value="" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="2" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show">
				</div>
			</form>
		</div>
		<table class="table table-striped">
			<thead>
		  	<tr>
		  		<th>Equipe</th>
		  		<th>Últ. Sincronização</th>
		  		<th>Situação</th>
		  		<th>Bateria</th>
		  		<th>Mapa</th>
		  		<th>Programação</th>
		  		<th>Monitoramento</th>
		  		<th>Estatísticas</td>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  	<tr>
		  		<td>AP-03</td>
		  		<td>d h m Off</td>
		  		<td><i class="fa fa-circle-o"></i></td>
		  		<td>Bateria</td>
		  		<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
		  		<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
		  	</tr>
		  </tbody>
		</table>
	</div>

</div><!-- .container-fluid -->
